body {
  font-family: Helvetica;
}

button {
  background: #FF7F00;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

button:hover {
  opacity: .8
}

.butterfly-top {
  background: url("../images/monarch-butterfly-migration.png");
  background-size: cover;
  width: 100%;
  position:absolute;
  min-height: 100px;
  opacity: .4;
  z-index: -2;
}

.background {
  height: 100px;
  position:relative;
  overflow: hidden;
  border-bottom: solid 20px #000;
}

.illustration {
  background: url("../images/monarch-butterfly-illustration.png");
  background-repeat: no-repeat;
  background-size: auto 150px;
  width: auto;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.infographic {
  background: url("../images/monarch-butterfly-01.png");
  background-repeat: no-repeat;
  background-size: auto 150px;
  width: auto;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  font-size: 10px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

h2 {
  font-size: 15px;
  font-weight: 900;
}

.map-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: -140px;
}

.text {
  text-align: left;
}

.table-img {
   height: auto;
   width: 100px;
}

.search-bar {
  margin: 15px;
  margin-top: 20px;
  float: left;
}

.image-th {
  display: auto;
}

@media only screen and (max-width: 700px) {
    .map-wrapper {
      margin-top: -300px;
    }
}

@media only screen and (max-width: 500px) {


    .table-img {
      width: 50px;
    }

    .search-bar {
      margin-left: -2px;
      margin-top: 25px;
    }

    .map-wrapper {
      margin-top: -360px;
    }

}

@media only screen and (max-width: 500px) {
    .image-th {
      display: none;
    }
}
