body {
  font-family: Helvetica;
}

button {
  background: #FF7F00;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

button:hover {
  background: orangered;
}

.butterfly-top {
  background: url("../images/monarch-butterfly-migration.png");
  background-size: cover;
  width: 100%;
  position:absolute;
  min-height: 100px;
  opacity: .4;
  z-index: -2;
}

.background {
  height: 100px;
  position:relative;
  overflow: hidden;
  border-bottom: solid 20px #000;
}

.illustration {
  background: url("../images/monarch-butterfly-illustration.png");
  background-repeat: no-repeat;
  background-size: auto 150px;
  width: auto;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.infographic {
  background: url("../images/monarch-butterfly-01.png");
  background-repeat: no-repeat;
  background-size: auto 150px;
  width: auto;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  font-size: 10px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

h2 {
  font-size: 15px;
  font-weight: 900;
}

.map-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.text {
  text-align: left;
}

/*bar chart css*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 14px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
