<!DOCTYPE html>
<html>
    <head>

        <!-- angular -->
        <script type="text/javascript" src="js/angular.js"></script>

        <!-- script -->
        <script type="text/javascript" src="js/app.js"></script>

        <!-- css -->
        <link rel="stylesheet" href="css/bootstrap.css" />
        <!--icons-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>

    <body>
    <div class="container">
    <div class="row">hey</div>
    <div class="map-container"></div>
    <div class="start-button" id="sel1" onclick="report()">
      <button>Start Animation</button>
    </div>
    <div class="bar-chart">
      <iframe src="bar-chart.html" width="100%" height="600"></iframe>
    </div>

    <div ng-app="myApp" class="row">
      <nav class="navbar navbar-default" style="padding: 10px;">
        <div class="col-xs-6" style="text-align: center;"><h2>butterflies</h2></div>
        <div class="col-xs-4" style="text-align: center; float: right;">
          <ul class="nav navbar-nav">
              <input type="text" ng-model="terms" class="form-control" style="margin: 15px; float: left;" placeholder="Search" />
          </ul>
        </div>
        <div class="col-xs-2"></div>
      </nav>

        <div class="container2" ng-controller="BaseController as base">
            <div class="row">
                <div class="col-xs-12">
                  <div class="key">key: </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <!-- <th></th> -->
                        <th ng-click="base.setSort('img')">Image <i class="fa fa-sort"></i></th>
                        <th ng-click="base.setSort('name')">Name<i class="fa fa-sort"></i></th>
                        <th ng-click="base.setSort('status')">Status <i class="fa fa-sort"></i></th>
                        <th ng-click="base.setSort('habitat')">habitat <i class="fa fa-sort"></i></th>
                        <th ng-click="base.setSort('year')">Year Listed <i class="fa fa-sort"></i></th>
                        <!--th ng-click="base.setSort('shootingPercent')">Shooting Percentage <i class="fa fa-sort"></i></th-->
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="butterfly in base.butterflies | filter:terms | orderBy:base.sort:base.direction">
                        <!-- <td><img ng-src="{{player.images[0]}}" height="100" width="100" border="0"/></td> -->
                        <td><img ng-src="imgs/{{ butterfly.img }}" height="auto" width="100"/></td>
                        <td>{{ butterfly.name }}</td>
                        <td>{{ butterfly.status }}</td>
                        <td>{{ butterfly.habitat }}</td>
                        <td>{{ butterfly.year }}</td>
                        <!--td>{{ base.shootingPercentage('points', 'fieldGoalsAttempted', 'freeThrowsAttempted') }}</td-->
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

        </div>
      </div> <!--end div tag for angular container -->
    </div>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v0.min.js"></script>
    <script src="http://d3js.org/colorbrewer.v1.min.js"></script>
    <script src="js/migration-map.js"></script>

    </body>
</html>
